Package: me.nepeta.axon
Name: Axon
Depends: mobilesubstrate, firmware (>= 11.0)
Conflicts: io.ominousness.stackxi, com.thomasfinch.priorityhub, com.ioscreatix.intelixbeta, com.ioscreatix.intelix, com.spiritoflogic.ncunify, com.spiritoflogic.unifyx, com.hidan.nclink10, org.coolstar.ventana-modern, org.coolstar.ventana, org.s1ris.spinxi
Version: 1.4
Architecture: iphoneos-arm
Description: Priority Hub for iOS 11 and 12
Maintainer: Baw Appie
Author: Nepeta & Baw Appie
Section: Tweaks
