<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<!-- <dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Nepeta</string>
			<key>user</key>
			<string>NepetaDev</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Baw Appie</string>
			<key>user</key>
			<string>BawAppie</string>
		</dict> -->
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.nepeta.axon</string>
			<key>label</key>
			<string>ENABLED_RESPRING</string>
			<key>key</key>
			<string>Enabled</string>
			<key>alternateColors</key>
			<true/>
			<key>PostNotification</key>
			<string>me.nepeta.axon/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.nepeta.axon</string>
			<key>label</key>
			<string>HAPTIC_FEEDBACK</string>
			<key>key</key>
			<string>HapticFeedback</string>
			<key>alternateColors</key>
			<true/>
			<key>PostNotification</key>
			<string>me.nepeta.axon/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.nepeta.axon</string>
			<key>label</key>
			<string>DARK_MODE</string>
			<key>key</key>
			<string>DarkMode</string>
			<key>alternateColors</key>
			<true/>
			<key>PostNotification</key>
			<string>me.nepeta.axon/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>AXNListItemsController</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>me.nepeta.axon</string>
			<key>label</key>
			<string>STYLE</string>
			<key>key</key>
			<string>Style</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>DEFAULT</string>
				<string>PACKED</string>
				<string>COMPACT</string>
				<string>TINY</string>
				<string>GROUP</string>
				<string>ROUNEDED_GROUP</string>
			</array>
			<key>PostNotification</key>
			<string>me.nepeta.axon/ReloadPrefs</string>
		</dict>
		<dict>
			<key>detail</key>
			<string>AXNLocationController</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>LOCATION</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>VERTICAL</string>
			<key>footerText</key>
			<string>VERTICAL_INFO</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.nepeta.axon</string>
			<key>label</key>
			<string>VERTICAL_RESPRING</string>
			<key>key</key>
			<string>Vertical</string>
			<key>alternateColors</key>
			<true/>
			<key>PostNotification</key>
			<string>me.nepeta.axon/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>me.nepeta.axon</string>
			<key>key</key>
			<string>VerticalPosition</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>LEFT</string>
				<string>RIGHT</string>
			</array>
			<key>alignment</key>
			<string>2</string>
			<key>PostNotification</key>
			<string>me.nepeta.axon/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SORTING</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>me.nepeta.axon</string>
			<key>key</key>
			<string>SortingMode</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>BY_DATE</string>
				<string>BY_COUNT</string>
				<string>BY_NAME</string>
			</array>
			<key>alignment</key>
			<string>3</string>
			<key>PostNotification</key>
			<string>me.nepeta.axon/ReloadPrefs</string>
		</dict>



		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Icon Style</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>me.nepeta.axon</string>
			<key>key</key>
			<string>iconStyle</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Default</string>
				<string>Rounded</string>
				<string>Square</string>
			</array>
			<key>alignment</key>
			<string>3</string>
			<key>PostNotification</key>
			<string>me.nepeta.axon/ReloadPrefs</string>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SHOW</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>me.nepeta.axon</string>
			<key>key</key>
			<string>ShowByDefault</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>NOTHING</string>
				<string>LATEST_NOTIFICATION</string>
				<string>FIRST_SECTION</string>
				<string>SELECTED_SECTION</string>
			</array>
			<key>alignment</key>
			<string>3</string>
			<key>PostNotification</key>
			<string>me.nepeta.axon/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SELECTION_STYLE</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>me.nepeta.axon</string>
			<key>key</key>
			<string>SelectionStyle</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>BACKGROUND</string>
				<string>DIM</string>
				<string>NONE</string>
			</array>
			<key>alignment</key>
			<string>2</string>
			<key>PostNotification</key>
			<string>me.nepeta.axon/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>BADGES</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.nepeta.axon</string>
			<key>label</key>
			<string>ENABLED</string>
			<key>key</key>
			<string>BadgesEnabled</string>
			<key>alternateColors</key>
			<true/>
			<key>PostNotification</key>
			<string>me.nepeta.axon/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.nepeta.axon</string>
			<key>label</key>
			<string>SHOW_BACKGROUND</string>
			<key>key</key>
			<string>BadgesShowBackground</string>
			<key>alternateColors</key>
			<true/>
			<key>PostNotification</key>
			<string>me.nepeta.axon/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SPACING</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>10</integer>
			<key>defaults</key>
			<string>me.nepeta.axon</string>
			<key>key</key>
			<string>Spacing</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>20</integer>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
			<key>PostNotification</key>
			<string>me.nepeta.axon/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ALIGNMENT</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>me.nepeta.axon</string>
			<key>key</key>
			<string>Alignment</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>LEFT</string>
				<string>CENTER</string>
				<string>RIGHT</string>
			</array>
			<key>alignment</key>
			<string>3</string>
			<key>PostNotification</key>
			<string>me.nepeta.axon/ReloadPrefs</string>
		</dict>

		<!-- Credits -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Axon by Nepeta and BawAppie, KritantaDev</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<!-- <dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>CREDITS_1</string>
			<key>subtitle</key>
			<string>CREDITS_1_INFO</string>
			<key>url</key>
			<string>https://twitter.com/bossgfx_</string>
		</dict> -->
		<dict>
			<key>detail</key>
			<string>AXNDebugController</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>DEBUG</string>
		</dict>
		<dict>
			<key>action</key>
			<string>respring:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>RESPRING</string>
		</dict>
		<!-- <dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>GitHub</string>
			<key>subtitle</key>
			<string>SOURCE_CODE</string>
			<key>url</key>
			<string>https://github.com/Baw-Appie/Axon</string>
		</dict> -->
	</array>
	<key>title</key>
	<string>Axon</string>
</dict>
</plist>
